@media only screen and (min-width: 64em)  {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  
header, nav, main, footer{
     max-width: 100%;
}

article figure.myphoto  { 
    margin: .1rem 3%;
}
    
   
main picture { 
    margin: 10% 5% 1% 1%;      
 }
    
.weather {
    grid-template-columns: 1fr 1fr 1fr;
}
    
.photo img:hover {
    box-shadow: 5px 10px 10px 5px #999999;
}

section.index{
  margin: 3% 1% 0 5%;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
}